In [1]:
#% cd ..
import pandas as pd

import ppmilib
import ppmilib.utils

/media/sf_shared/github/ppmi/scripts/python

### Create sql
  * Join Patient Status with MDS_UPDRS_PartIII data and extract the value of NP3FACXP at baseline

In [2]:
sql = """
SELECT PATSTAT.PATNO, NUPDRS3.EVENT_ID, NUPDRS3.NP3FACXP 
  FROM PATSTAT
  INNER JOIN NUPDRS3 ON
    PATSTAT.PATNO = NUPDRS3.PATNO
  WHERE
    PATSTAT.RECRUITMENT_CAT = 'PD' AND
    PATSTAT.ENROLL_STATUS = 'Enrolled' AND
    NUPDRS3.EVENT_ID = 'BL';
"""

In [3]:
ppmi_curs = ppmilib.utils.SqliteCursor.ppmi()
results = pd.read_sql(sql, ppmi_curs.connection())
results.head()

  PATNO EVENT_ID  NP3FACXP
0  3001       BL       1.0
1  3002       BL       1.0
2  3003       BL       2.0
3  3010       BL       1.0
4  3012       BL       2.0

### What is NP3FACXP?

In [6]:
sql = """
SELECT MOD_NAME, ITM_NAME, DSCR from DATADICT where ITM_NAME='NP3FACXP';
"""
pd.read_sql(sql, ppmi_curs.connection())

  MOD_NAME  ITM_NAME                   DSCR
0  NUPDRS3  NP3FACXP  3.2 Facial expression